body {
  background: #212121 !important;/*#353535*/
  color: black !important;
  font-family: Arial, Helvetica, sans-serif;  
}

.nav-text{
  color: #000 !important;
  /*line-height: 19px !important;*/
}

.label-form{
  color: #0d47a1 ;
  font-weight: bold;
}

.footer{
  background-color: #FFFFFF;
  position: fixed;
  height: 50px;
  bottom: 0px;
  width: 100%;
  vertical-align: middle;
}

.p-footer{
  height: 15px;
  margin-top: 15px;
  margin-left: 20px;
}

.left-footer{
  float: left;
}

.right-footer{
  float: right;
  margin-right: 20px;
}

.h1-text{
  font-size: 45px;
  /*font-family: 'Comic Sans MS' !important;*/
  /*font-family: Arial, Helvetica, sans-serif;*/  
  line-height: 110%;
  margin: 2.1rem 0 1.68rem 0;
  color: #99CFF7;
  margin-left: 40px;
  margin-top: 60px;
}

.h1-text-rules{
  font-size: 45px;
  /*font-family: 'Comic Sans MS' !important;*/
  /*font-family: Arial, Helvetica, sans-serif;*/  
  line-height: 110%;
  margin: 2.1rem 0 1.68rem 0;
  color: #99CFF7;
  margin-left: 40px;
  margin-top: 20px;
}

.paragraph{
  font-size: 15px;
  /*font-family: 'Comic Sans MS' !important;*/
  /*font-family: Arial, Helvetica, sans-serif;*/  
  color: #FFFFFF;
}

.p3 {
    margin-left: 40px;
    font-size: 20px !important;
}

.pRules {
    font-size: 18px !important;
}

.btn-start-play{
  background-color: #e65100 !important; /*#01579b*/
  margin-top: 300px !important;
  margin-bottom: auto !important;
  margin-left: 250px !important;
  font-size: 20px !important;
  width: 305px !important;

}

.icon-play {
    position: absolute !important;
}

.card-panel-text {
  transition: box-shadow .25s;
  padding: 20px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/ 
}

.link{
  color: #f4ff81;
}

.card-panel-x {
  transition: box-shadow .25s;
  padding: 20px;
  margin: 0.5rem 0 1rem 0;
  margin-top: 15px;
  margin-left: 300px;
  width:850px;
  border-radius: 2px;
  /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/ 
}

.password {
    color: #FFFFFF;
    margin-right: 100px;
}

.email {
    color: #FFFFFF;
    margin-right: 25px;
}

.username {
    color: #FFFFFF;
    margin-right: 64px;
}

.btn-x {
    background-color: #e65100 !important; /*#01579b*/
    margin-bottom: auto !important;
    margin-left: 400px !important;
}}

.p1{
  margin-left: 40px;
}

.ul-style {
    list-style: none;
}

.color-number-list{
  color: #f4ff81;
}

.reset {
    color: #FFFFFF;
    margin-left: 130px;
}

.li-list{
  margin-left: 65px;
}


.wait {
    width: 700px !important;
}

.btn-p{
    margin-top: 8px;
}

.label-form{
  color: #0d47a1;
  font-weight: bold;
}

.profile-x {
    color: #ff6f00;
    font-weight: bold;
    font-size: larger;
}

.email-lbl {
    margin-left: 50px;
    font-weight: bold;
    color: #FFFFFF;
}
.username-lbl {
    margin-left: 90px;
    font-weight: bold;
    color: #FFFFFF;
}

.matchesPlayed-lbl {
    margin-left: 49px;
    font-weight: bold;
    color: #FFFFFF;
}

.matchesWon-lbl {
    margin-left: 67px;
    font-weight: bold;
    color: #FFFFFF;
}

.matchesMissed-lbl {
    margin-left: 45px;
    font-weight: bold;
    color: #FFFFFF;
}

.matchesEqualized-lbl {
    margin-left: 27px;
    font-weight: bold;
    color: #FFFFFF;
}

.h5-text
{
    color: #FFFFFF;
}

.panel-x{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 
}

.h6-text{
    font-size: 21.5px;
    color: #FFFFFF;
}

.div-profile {
    margin-left: 250px;
}

.card-panel-profile {
    transition: box-shadow .25s;
    padding: 20px;
    margin: 0.5rem 0 1rem 0;
    margin-top: 35px;
    margin-left: 300px;
    width: 800px;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn-cancel
{
    float: left;
}

.btn-save
{
    float: right;
}