@import url(http://fonts.googleapis.com/css?family=Comic%20Sans%20MS);
@import url(http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);

html{
  height: 100%;
}

body {
  background: #000000 !important;
  color: black !important;
  font-family: 'Comic Sans MS' !important;
  height: 100%;
}
.flat-form {
  background: #ffffff ;
  margin: 25px auto;
  width: 420px;
  height: 400px;
  position: relative;
  font-family: 'Comic Sans MS' !important;
  border-radius: 2px;
}

.form-action {
  padding: 0 20px;
  position: relative;
  margin: auto;
}

.form-action h1 {
  font-size: 42px;
  padding-bottom: 10px;
}
.form-action p {
  font-size: 12px;
  padding-bottom: 10px;
  line-height: 25px;
}
form {
  padding-right: 20px;
}
form input[type=text],
form input[type=password],
form input[type=submit] {
  font-family: 'Comic Sans MS' !important;
}

form input[type=text],
form input[type=password] {
  border-style: none;
    border-color: inherit;
    border-width: medium;
    margin-bottom: 10px;
    padding-left: 15px;
    background: #eceff1;
    color: #4db6ac;
    outline: none;
}

.dark-box {
  background: #4db6ac;
  box-shadow: 1px 3px 3px #4db6ac inset;
  height: 40px;
  width: 50px;
}
.form-action .dark-box.bottom {
  position: absolute;
  right: 0;
  bottom: -24px;
}
.tabs + .dark-box.top {
  position: absolute;
  right: 0;
  top: 0px;
}
.show {
  display: block;
}
.hide {
  display: none;
}

.button {
  border: none;
  display: block;
  background: #4db6ac;
  height: 40px;
  width: 80px;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  /*box-shadow: 0px 3px 1px #2075aa;*/
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.button:hover {
  background: #4db6ac;
  /*box-shadow: 0 3px 1px #237bb2;*/
}

.button:active {
  background: #4db6ac;
  /*box-shadow: 0 3px 1px #0f608c;*/
}

::-webkit-input-placeholder {
  color: #4db6ac;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #4db6ac;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #4db6ac;
}
:-ms-input-placeholder {
  color: #4db6ac;
}

.nav-color{
  background-color: #ffffff !important;
}

.nav-text{
  color: #000000 !important;
  line-height: 19px !important;
}

.nav-active {
  background: #b3e5fc !important;
  border-right: none !important;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
  background-color: #ffffff !important;
  color: #000000 !important;
}

.navbar-width
{
  width: 130% !important;
}

.nav-border{
  border-bottom: 2px solid #4db6ac !important;
}

ul.tabs {
  background: #ffffff;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 20px;
  border-bottom: 2px solid #4db6ac;
}
ul.tabs li {

  float: left;
  margin: 0;
  cursor: pointer;
  padding: 0px 22px;
  height: 38px;
  line-height: 31px;
  overflow: hidden;
  background-color: #FFFFFF;
}
ul.tabs li:hover {
  background: #e3f2fd;
} 
ul.tabs li.active{
  background: #b3e5fc;
}
.tab_container {
  clear: both;
  float: left; 
  width: 100%;
  background: #FFFFFF;
}
.tab_content {
  padding: 5px;
  font-size: 1.2em;
  display: none;
  line-height: 1.5em;
}
@media screen and (max-width: 600px) {
  ul.tabs li {
    clear:both;
    width: 100%;
    padding-left:2%;
    cursor: pointer;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  }
}
@media screen and (max-width: 400px) {
  ul.tabs li {
    clear:both;
    text-align:center;
    width: 100%;
    padding-left:2%;
    cursor: pointer;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  }
}

.paragraph{
  font-size: 15px;
  font-family: 'Comic Sans MS' !important;
  color: #FFFFFF;
}

.p1{
  margin-left: 40px;
}

.p2{
  margin-left: 20px;
}

.p3
{
  margin-left: 40px;
}

.h1-text{
  font-size: 45px;
  font-family: 'Comic Sans MS' !important;
  line-height: 110%;
  margin: 2.1rem 0 1.68rem 0;
  color: #99CFF7;
  margin-left: 40px;
  margin-top: 60px;
}

.footer{
  background-color: #FFFFFF;
  position: fixed;
  height: 50px;
  bottom: 0px;
  width: 100%;
  vertical-align: middle;
}

.p-footer{
  height: 15px;
  margin-top: 15px;
  margin-bottom: auto;
  margin-left: 20px;
}

.right-footer{
  float: right;
  margin-right: 20px;
}

.left-footer{
  float: left;
}

.btn-start-play{
  background-color: #01579b !important;
  margin-top: 345px !important;
  margin-bottom: auto !important;
  margin-left: 250px !important;
}

.text-btn-play{
  font-size: 30px !important;
  color: #FFFFFF !important;
}

.img-play
{
    height: 50px !important;
    width: 50px !important;
}
.link{
  color: #f4ff81;
}

.card-panel {
  transition: box-shadow .25s;
  padding: 20px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #000000; 
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 
}

.color-number-list{
  color: #f4ff81;
}

.li-list{
  margin-left: 65px;
}

.input-error
{
  border: solid 1px red !important;
}

.info-error
{
  height: auto;
  color: red;
  font-size: 12px;
}

.label-form{
  color: #0d47a1 ;
  font-weight: bold;
}

.p4
{
  color: black;
  font-weight: normal;
}

.flat-form-setting
{
  background: #ffffff ;
  margin: 25px auto;
  width: 50%;
  height: 400px;
  position: relative;
  font-family: 'Comic Sans MS'!important;
  border-radius: 2px;
}

.form-action-setting
{
  padding-top: 25px;
  padding-left: 25px;
  position: relative;
  margin: auto;
}

.h1, .p5
{
  text-align: center !important;
}

.h1
{
  font-size: 45px !important;
}

.bottom-left-setting
{
  padding-left: 245px;
}

.form-text
{
  padding-top: 35px;
}

.form-input-setting
{
  width: 40% !important;
  height: 40px !important;
  margin-bottom: 10px !important;
  padding-left: 15px !important;
  background: #eceff1 !important;
  border: none !important;
  color: #4db6ac !important;
  outline: none !important;
}

.flat-form-profile
{
  background: #ffffff ;
  margin: 25px auto;
  width: 50%;
  height: 350px !important;
  position: relative;
  font-family: 'Comic Sans MS'!important;
  border-radius: 2px;
}

.form-action-profile
{
  padding-top: 25px;
  padding-left: 25px;
  position: relative;
  margin: auto;
}